@charset "utf-8";

@import "../base/typography";

html,
body,
pre,
code,
kbd,
samp {
  font-family: $font-family;
}

html {
  // cursor: $cursor-url, auto;
}

body {
  @include g14-sm;
  color: $color-black;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

label {
  cursor: inherit;
}

a,
button {
  // cursor: $cursor-click-url, pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  outline: 0;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}

//scroll-bar
// 스크롤바 전체
// 스크롤바 막대
// 스크롤바 막대 외부
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-black;
  height: 30%;
}
::-webkit-scrollbar-track {
  border-left: 1px solid rgba($color-black, 0.8);
}
