@charset "utf-8";

@import "../abstracts/placeholders";

$font-family: "Galmuri9", "Galmuri11", "Galmuri14", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji !default;

//////////////////////////////////////////////////

//galmuri9
//xs - 10
//sm - 14
//base - 16
//lg - 20
//xl - 30

@mixin g9-xs($size: 0.625rem) {
  @extend %font-g9;
  font-size: $size;
}
@mixin g9-sm($size: 0.875rem) {
  @extend %font-g9;
  font-size: $size;
}
@mixin g9-base($size: 1rem) {
  @extend %font-g9;
  font-size: $size;
}
@mixin g9-lg($size: 1.25rem) {
  @extend %font-g9;
  font-size: $size;
}
@mixin g9-xl($size: 1.875rem) {
  @extend %font-g9;
  font-size: $size;
}

//galmuri11 (bold)
//xs - 12
//sm - 14
//base - 16
//lg - 20
//xl - 24

@mixin g11-xs($size: 0.75rem) {
  @extend %font-g11;
  font-size: $size;
}
@mixin g11-sm($size: 0.875rem) {
  @extend %font-g11;
  font-size: $size;
}
@mixin g11-base($size: 1rem) {
  @extend %font-g11;
  font-size: $size;
}
@mixin g11-lg($size: 1.25rem) {
  @extend %font-g11;
  font-size: $size;
}
@mixin g11-xl($size: 1.5rem) {
  @extend %font-g11;
  font-size: $size;
}

//galmuri14
//xs - 15
//sm - 18
//base - 22
//lg - 25
//xl - 30

@mixin g14-xs($size: 0.938rem) {
  @extend %font-g14;
  font-size: $size;
}
@mixin g14-sm($size: 1.125rem) {
  @extend %font-g14;
  font-size: $size;
}
@mixin g14-base($size: 1.375rem) {
  @extend %font-g14;
  font-size: $size;
}
@mixin g14-lg($size: 1.563rem) {
  @extend %font-g14;
  font-size: $size;
}
@mixin g14-xl($size: 1.875rem) {
  @extend %font-g14;
  font-size: $size;
}

/*-------------------------------------------*/

@mixin bold-txt($bold: 700, $space: inherit) {
  font-weight: $bold;
  letter-spacing: $space;
}
