@charset "utf-8";

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin multiEllipsis($line: 3, $lineHeight: 1.5) {
  display: -webkit-box;
  height: ($lineHeight * 1em * $line);
  overflow: hidden;
  line-height: $lineHeight;
  word-break: break-all;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin absCenter($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if($horizontal) {
    left: 50%;
    transform: translateX(-50%);
  } @else if($vertical) {
    top: 50%;
    transform: translateY(-50%);
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  display: $display;
  position: $pos;
  content: $content;
}

@mixin box($w: 10px, $h: 10px, $bg: #000) {
  display: block;
  width: $w;
  height: $h;
  background-color: $bg;
}
@mixin icon($code, $margin: 10px) {
  font-family: "Material Icons";
  content: $code;
  display: inline-block;
  margin-left: $margin;
}
