@charset "utf-8";

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin multiEllipsis($line: 3, $lineHeight: 1.5) {
  display: -webkit-box;
  height: ($lineHeight * 1em * $line);
  overflow: hidden;
  line-height: $lineHeight;
  word-break: break-all;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin absCenter($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if($horizontal) {
    left: 50%;
    transform: translateX(-50%);
  } @else if($vertical) {
    top: 50%;
    transform: translateY(-50%);
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  display: $display;
  position: $pos;
  content: $content;
}

@mixin box($w: 10px, $h: 10px, $bg: #000) {
  display: block;
  width: $w;
  height: $h;
  background-color: $bg;
}
@mixin icon($code, $margin: 0) {
  font-family: "Material Icons";
  content: $code;
  display: inline-block;
  margin-left: $margin;
}

@mixin check-icon($w: 8px, $h: 17px, $left: 7px, $top: -8px, $border-w: 0 2px 2px 0, $transform: rotate(45deg), $bg: transparent) {
  @include pseudo;
  box-sizing: border-box;
  border-style: solid;
  transform-origin: bottom left;
  width: $w;
  height: $h;
  left: $left;
  top: $top;
  border-width: $border-w;
  transform: $transform;
  background-color: $bg;
}

////////////////////////////////////////////////////////////////////////////////////
///buttons

@mixin btn-style($padding: 0.8rem 1rem, $color: $color-black, $bg: $color-white, $border: 1px solid $color-black, $radius: 3px) {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  @extend %out-shadow;

  &:active {
    @extend %in-shadow;
  }

  &:focus {
    outline: 0;
  }
  &:focus-visible {
    outline: 1px solid $color-black;
  }
}

@mixin point-btn-style($color, $bg, $border: 1px solid $color-black) {
  color: $color;
  background-color: $bg;
  border: $border;
}

@mixin disable-btn-style($opacity: 0.6) {
  opacity: $opacity;
  pointer-events: none;
}

////////////////////////////////////////////////////////////////////////////////////
//forms

//input
@mixin input-style($padding: 0.8rem 1rem, $color: $color-black, $bg: $color-white, $border: 1px solid $color-black, $radius: 3px) {
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  @extend %in-shadow;

  &:focus {
    outline: 0;
  }
  &:focus-visible {
    outline: 1px solid $color-black;
  }
}

//radio
@mixin radio-style($padding: 0.5rem 0.9rem, $border: 1px dashed $color-black, $margin: 10px) {
  padding: $padding;
  border-bottom: $border;
  margin-right: $margin;
  vertical-align: bottom;
  appearance: none;
  cursor: pointer;

  &:checked {
    position: relative;
    border-bottom: 2px solid $color-black;
    &:after {
      @include check-icon;
    }
  }
  &:checked + span {
    font-weight: 700;
  }

  &:focus-visible {
    background-color: rgba($color-black, 0.1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &:disabled + span {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

//checkbox
@mixin check-style($w: 15px, $h: 15px, $margin: 10px, $border: 1px solid $color-black, $color: $color-black, $bg: $color-white, $radius: 3px) {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: $w;
  height: $h;
  margin-right: $margin;
  border: $border;
  color: $color;
  background-color: $bg;
  border-radius: $radius;
  @extend %check-shadow;
}

////////////////////////////////////////////////////////////////////////////////////
//popup

@mixin box-style($padding: 0.8rem 1rem, $color: $color-black, $bg: $color-white, $border: 1px solid $color-black, $radius: 3px) {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  @extend %out-shadow;

  &:focus {
    outline: 0;
  }
  &:focus-visible {
    outline: 1px solid $color-black;
  }
}

////////////////////////////////////////////////////////////////////////////////////
//balloon

@mixin msg-box-style($padding: 0.8rem 1rem, $color: $color-black, $bg: $color-white, $border: 1px solid $color-black, $radius: 3px, $line-h: 1.8) {
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  line-height: $line-h;
}

@mixin left-msg-box-style {
  @include msg-box-style;
  position: relative;
  z-index: 10;
  box-shadow: 2px 2px 0 rgba($color-black, 0.4);

  &:before {
    @include pseudo;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-black;
    bottom: -10px;
    left: 30px;
  }
  &:after {
    @include pseudo;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-white;
    bottom: -8px;
    left: 31px;
  }
}

@mixin right-msg-box-style {
  @include msg-box-style;
  position: relative;
  z-index: 10;
  box-shadow: -2px 2px 0 rgba($color-black, 0.4);

  &:before {
    @include pseudo;
    border-left: 10px solid transparent;
    border-top: 10px solid $color-black;
    bottom: -10px;
    right: 30px;
  }
  &:after {
    @include pseudo;
    border-left: 8px solid transparent;
    border-top: 8px solid $color-white;
    bottom: -8px;
    right: 31px;
  }
}

////////////////////////////////////////////////////////////////////////////////////
//badges

@mixin badge($padding: 0.3rem 0.4rem, $color: $color-black, $bg: $color-white, $border: 1px solid $color-black, $radius: 3px) {
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  @include g9-xs;
}
