@charset "utf-8";

//fonts
$font-g9: "Galmuri9", sans-serif !default;
$font-g11: "Galmuri11", sans-serif !default;
$font-g14: "Galmuri14", sans-serif !default;
%font-g9 {
  font-family: $font-g9;
}
%font-g11 {
  font-family: $font-g11;
}
%font-g14 {
  font-family: $font-g14;
}

%txt-shadow {
  text-shadow: 1.4px 0.6px 1.3px rgba($color-black, 0.9);
}

//shadows
%out-shadow {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}
%in-shadow {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.3);
}
%check-shadow {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

//focus-visible remove
%focus-visible-remove {
  &:focus-visible {
    outline: none;
  }
}
