@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}