@import "../scss/abstracts/variables";

@mixin title($size: 24px, $h: 30px) {
  margin-bottom: $h;
  font-family: $font-g11;
  font-size: $size;
  font-weight: 700;
}

.g9 {
  font-family: $font-g9;
}
.g11b {
  font-family: $font-g11;
}
.g14 {
  font-family: $font-base;
}

.container {
  width: 100%;
  height: 100%;
  padding: 50px 70px;
  section {
    margin-bottom: 50px;
  }
  .main_title {
    @include title(40px);
    color: $point-color;
  }
  .font {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .txtBox {
      display: flex;
      justify-content: space-between;
      .wrap {
        .sub_title {
          @include title(24px, 20px);
        }
        p {
          margin-bottom: 15px;
        }
        .h_name {
          font-size: 20px;
        }
        .n_name {
          font-size: 15px;
        }
        .r_name {
          font-size: 18px;
        }
        .desc {
          line-height: 1.5;
          font-size: 16px;
        }
        .copyright {
          font-size: 12px;
        }
      }
    }
  }
  .selection {
    font-size: 36px;
  }
}
