@charset "utf-8";

@import "../scss/abstracts/variables";
@import "../scss/base/typography";

.container {
  padding: 50px 200px;
  section {
    margin-bottom: 50px;
    .main_title {
      @include g11-xl(1.7rem);
      font-weight: 700;
      color: $color-01;
      margin-bottom: 30px;
    }
  }
  .selection {
    p {
      font-size: 30px;
    }
  }
  .button {
    .box {
      display: flex;
      justify-content: flex-start;
      .btn_box {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        p {
          font-weight: 700;
          margin-bottom: 20px;
        }
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
  .input {
    .box {
      form {
        display: flex;
        flex-direction: column;
        width: 500px;
        input {
          margin-bottom: 10px;
        }
        textarea {
          margin-bottom: 10px;
        }
        .file {
          input {
          }
        }
      }
    }
  }
}
