@charset "utf-8";

@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../abstracts/mixins";
@import "../abstracts/functions";

button {
  @include btn-style;
  span {
    &:focus-visible {
      outline: none;
    }
  }
}

// btn- size
.btn-sm {
  @include g9-xs;
  @include btn-style(0.4rem 0.6rem 0.5rem 0.6rem);
}
.btn-lg {
  @include g14-sm;
  @include btn-style(1rem 1.2rem);
}

// btn- style
.point-btn {
  @include point-btn-style($color-white, $color-02);
  @extend %txt-shadow;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.35);
}
.dark-btn {
  @include point-btn-style($color-white, $color-black, 1px solid $color-white);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.disabled-btn {
  @include disable-btn-style;
}

.bold-txt {
  @include bold-txt(700, 0.5px);
}
