@charset "utf-8";

@import "../abstracts/variables";
@import "../abstracts/placeholders";

@mixin btn-style($padding, $color, $bg, $border, $radius: 3px) {
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  @extend %default-box-shadow;
}

button {
  @include btn-style(0.8rem 1.1rem, $color-black, $color-white, 1px solid $color-black);
}

.default-btn {
}

.point-btn {
  font-weight: 700;
}

.dark-btn {
  @include btn-style(0.8rem 1rem, $color-white, $color-black, 1px solid $color-black);
}
