@charset "utf-8";

@import "../abstracts/variables";
@import "../abstracts/placeholders";
@import "../abstracts/mixins";
@import "../abstracts/functions";

.label {
  @extend %focus-visible-remove;
  span {
    @extend %focus-visible-remove;
  }
}

input[type="text"],
[type="password"],
[type="number"],
[type="email"],
[type="tel"],
textarea {
  @include input-style;
}
textarea {
  line-height: 1.6;
}
input[type="file"],
[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

// type=file
.file {
  display: flex;
  .upload {
    @include input-style(0.55rem 0.8rem);
  }
  label {
    @include btn-style(0.55rem 0.8rem);
    position: relative;
    margin-left: 5px;
  }
}

// type=radio
input[type="radio"] {
  @include radio-style;
}

.checkbox {
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      @include check-style;
    }
  }
  input {
    &:checked ~ span:before {
      @extend %in-shadow;
    }
    &:checked ~ span:after {
      @include check-icon(6px, 17px, 2px, -10px, 0 2px 2px 0);
    }
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    &:disabled + span {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

// select
.select {
  position: relative;
  &:after {
    @include pseudo;
    @include icon("arrow_drop_down", 0);
    @include absCenter(false, true);
    font-size: 17px;
    top: 49%;
    right: 10px;
  }
  select {
    @include select-style(0.8rem 3.5rem 0.8rem 1rem);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    option {
      background-color: $color-black;
      color: $color-white;
    }
  }
}

.select-box {
  position: relative;
  .select-btn {
    @include select-style(0.8rem 3.5rem 0.8rem 1rem);
    position: relative;
    &:after {
      @include pseudo;
      @include icon("arrow_drop_down", 0);
      @include absCenter(false, true);
      font-size: 17px;
      top: 49%;
      right: 10px;
    }
  }
  .option-list {
    @include box-style(0.8rem 0.5rem, $radius: 0 0 3px 3px);
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    margin-top: -2px;
    li {
      padding: 0.5rem;
      width: 100%;
      cursor: pointer;
      @extend %focus-visible-remove;
      &:hover {
        background-color: $color-black;
        color: $color-white;
        border-radius: 3px;
      }
    }
  }
}

// .on {
//   .select-btn {
//     box-shadow: 2px 0px 0px rgba($color-black, 0.5), inset -2px 0 0 rgba($color-black, 0.25);
//     border-radius: 3px 3px 0 0;
//   }
//   .option-list {
//     margin-top: -2px;
//   }
// }
