@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.container section .main_title {
  font-family: "Galmuri11", sans-serif;
}

/*-------------------------------------------*/
/*
galmuri9
xs - 10
sm - 14
base - 16
lg - 20
xl - 30
*/
/*
galmuri11 (bold)
xs - 12
sm - 14
base - 16
lg - 20
xl - 24
*/
/*
galmuri14
xs - 15
sm - 18
base - 22
lg - 25
xl - 30
*/
/*-------------------------------------------*/
.bold-txt {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.container {
  padding: 50px 200px;
}
.container section {
  margin-bottom: 50px;
}
.container section .main_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1bca56;
  margin-bottom: 30px;
}
.container .selection p {
  font-size: 20px;
}
.container .button .box {
  display: flex;
  justify-content: flex-start;
}
.container .button .box .btn_box {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.container .button .box .btn_box p {
  font-weight: 700;
  margin-bottom: 20px;
}
.container .button .box .btn_box button {
  margin-bottom: 10px;
}
.container .input_form .box form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.container .input_form .box form input {
  margin-bottom: 10px;
}
.container .input_form .box form .file {
  margin-bottom: 20px;
}
.container .input_form .box form .file input {
  margin-bottom: 0;
}
.container .input_radio label {
  margin-right: 20px;
}
.container .input_checkbox .check {
  display: flex;
}
.container .input_checkbox .check div {
  margin-right: 40px;
}