@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, .file label, .dark-btn, .point-btn, .btn-lg, .btn-sm, button {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.select-box .select-btn:active, .select select:active, .checkbox input:checked ~ span:before, .file label:active, .file .upload, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .btn-lg:active, .btn-sm:active, button:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list, .select-box .select-btn, .select select {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list li:focus-visible, .label span:focus-visible, .label:focus-visible {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

table {
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  flex-shrink: 0;
}

::before,
::after {
  --tw-content: "";
}

body {
  margin: 0; /* 1 */
  line-height: 1; /* 2 */
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: theme("fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: theme("colors.gray.400", #9ca3af); /* 2 */
}

button,
[role=button] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

img,
video {
  height: auto;
}

[hidden] {
  display: none;
}

.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, .file label, .dark-btn, .point-btn, .btn-lg, .btn-sm, button {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.select-box .select-btn:active, .select select:active, .checkbox input:checked ~ span:before, .file label:active, .file .upload, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .btn-lg:active, .btn-sm:active, button:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list, .select-box .select-btn, .select select {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list li:focus-visible, .label span:focus-visible, .label:focus-visible {
  outline: none;
}

/*-------------------------------------------*/
html,
body,
pre,
code,
kbd,
samp {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  font-size: 0.75rem;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

label {
  cursor: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

input[type=radio],
input[type=checkbox] {
  outline: 0;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  height: 20%;
}

::-webkit-scrollbar-track {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, .file label, .dark-btn, .point-btn, .btn-lg, .btn-sm, button {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.select-box .select-btn:active, .select select:active, .checkbox input:checked ~ span:before, .file label:active, .file .upload, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .btn-lg:active, .btn-sm:active, button:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list, .select-box .select-btn, .select select {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list li:focus-visible, .label span:focus-visible, .label:focus-visible {
  outline: none;
}

/*-------------------------------------------*/
@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, .file label, .dark-btn, .point-btn, .btn-lg, .btn-sm, button {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.select-box .select-btn:active, .select select:active, .checkbox input:checked ~ span:before, .file label:active, .file .upload, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .btn-lg:active, .btn-sm:active, button:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list, .select-box .select-btn, .select select {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list li:focus-visible, .label span:focus-visible, .label:focus-visible {
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.7rem 0.6rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
button:focus {
  outline: 0;
}
button:focus-visible {
  outline: 1px solid #000;
}
button span:focus-visible {
  outline: none;
}

.btn-sm {
  font-size: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.4rem 0.2rem 0.5rem 0.2rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
.btn-sm:focus {
  outline: 0;
}
.btn-sm:focus-visible {
  outline: 1px solid #000;
}

.btn-lg {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.7rem 0.6rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
.btn-lg:focus {
  outline: 0;
}
.btn-lg:focus-visible {
  outline: 1px solid #000;
}

.point-btn {
  color: #fff;
  background-color: #6d57f1;
  border: 1px solid #000;
}

.dark-btn {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.disabled-btn {
  opacity: 0.6;
  pointer-events: none;
}

.bold-txt {
  font-weight: 700;
  letter-spacing: 0.5px;
}

@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, .file label, button, .btn-sm, .btn-lg, .point-btn, .dark-btn {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.select-box .select-btn:active, .select select:active, .checkbox input:checked ~ span:before, .file label:active, .file .upload, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, button:active, .btn-sm:active, .btn-lg:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list, .select-box .select-btn, .select select {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.select-box .option-list li:focus-visible, .label span:focus-visible, .label:focus-visible {
  outline: none;
}

input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea {
  padding: 0.55rem 0.8rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
input[type=text]:focus,
[type=password]:focus,
[type=number]:focus,
[type=email]:focus,
[type=tel]:focus,
textarea:focus {
  outline: 0;
}
input[type=text]:focus-visible,
[type=password]:focus-visible,
[type=number]:focus-visible,
[type=email]:focus-visible,
[type=tel]:focus-visible,
textarea:focus-visible {
  outline: 1px solid #000;
}

textarea {
  line-height: 1.6;
}

input[type=file],
[type=checkbox] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.file {
  display: flex;
}
.file .upload {
  padding: 0.55rem 0.8rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
.file .upload:focus {
  outline: 0;
}
.file .upload:focus-visible {
  outline: 1px solid #000;
}
.file label {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.55rem 0.8rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  position: relative;
  margin-left: 5px;
}
.file label:focus {
  outline: 0;
}
.file label:focus-visible {
  outline: 1px solid #000;
}

input[type=radio] {
  padding: 0.5rem 0.9rem;
  border-bottom: 1px dashed #000;
  margin-right: 10px;
  vertical-align: bottom;
  appearance: none;
  cursor: pointer;
}
input[type=radio]:checked {
  position: relative;
  border-bottom: 2px solid #000;
}
input[type=radio]:checked:after {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  border-style: solid;
  transform-origin: bottom left;
  width: 8px;
  height: 17px;
  left: 7px;
  top: -8px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background-color: transparent;
}
input[type=radio]:checked + span {
  font-weight: 700;
}
input[type=radio]:focus-visible {
  background-color: rgba(0, 0, 0, 0.1);
}
input[type=radio]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
input[type=radio]:disabled + span {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox {
  cursor: pointer;
}
.checkbox span {
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox span:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
}
.checkbox input:checked ~ span:after {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  border-style: solid;
  transform-origin: bottom left;
  width: 6px;
  height: 17px;
  left: 2px;
  top: -10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background-color: transparent;
}
.checkbox input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.checkbox input:disabled + span {
  opacity: 0.6;
  cursor: not-allowed;
}

.select {
  position: relative;
}
.select:after {
  display: block;
  position: absolute;
  content: "";
  font-family: "Material Icons";
  content: "arrow_drop_down";
  display: inline-block;
  margin-left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  top: 49%;
  right: 10px;
}
.select select {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select select:focus {
  outline: 0;
}
.select select:focus-visible {
  outline: 1px solid #000;
}
.select select option {
  background-color: #000;
  color: #fff;
}

.select-box {
  position: relative;
}
.select-box .select-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  position: relative;
}
.select-box .select-btn:focus {
  outline: 0;
}
.select-box .select-btn:focus-visible {
  outline: 1px solid #000;
}
.select-box .select-btn:after {
  display: block;
  position: absolute;
  content: "";
  font-family: "Material Icons";
  content: "arrow_drop_down";
  display: inline-block;
  margin-left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  top: 49%;
  right: 10px;
}
.select-box .option-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.8rem 0.5rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  margin-top: -2px;
}
.select-box .option-list:focus {
  outline: 0;
}
.select-box .option-list:focus-visible {
  outline: 1px solid #000;
}
.select-box .option-list li {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.select-box .option-list li:hover {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

.popup .desc .title, body {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

.popup, button, .btn-sm, .btn-lg, .point-btn, .dark-btn, .file label {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

button:active, .btn-sm:active, .btn-lg:active, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .file .upload, .file label:active, .checkbox input:checked ~ span:before, .select select:active, .select-box .select-btn:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select select, .select-box .select-btn, .select-box .option-list {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.label:focus-visible, .label span:focus-visible, .select-box .option-list li:focus-visible {
  outline: none;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.8rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  flex-direction: column;
}
.popup:focus {
  outline: 0;
}
.popup:focus-visible {
  outline: 1px solid #000;
}
.popup .desc {
  text-align: center;
}
.popup .desc .title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: inherit;
  margin: 1.2rem 0;
}
.popup .desc .texts {
  margin: 1.5rem 0;
}
.popup .btn-box {
  display: flex;
  margin-bottom: 1rem;
}
.popup .btn-box .bold-txt {
  margin-left: 1rem;
}

@font-face {
  font-family: "Galmuri9", "Galmuri11", "Galmuri14";
  font-weight: 700;
  src: url(../../fonts/Galmuri9.woff2) format("woff2"), url(../../fonts/Galmuri11.woff2) format("woff2"), url(../../fonts/Galmuri11-Bold.woff2) format("woff2"), url(../../fonts/Galmuri14.woff2) format("woff2");
}
.badge, .btn-sm {
  font-family: "Galmuri9", sans-serif;
}

body, .popup .desc .title {
  font-family: "Galmuri11", sans-serif;
}

.btn-lg {
  font-family: "Galmuri14", sans-serif;
}

.point-btn {
  text-shadow: 1.4px 0.6px 1.3px rgba(0, 0, 0, 0.9);
}

button, .btn-sm, .btn-lg, .point-btn, .dark-btn, .file label, .popup {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}

button:active, .btn-sm:active, .btn-lg:active, input[type=text],
[type=password],
[type=number],
[type=email],
[type=tel],
textarea, .file .upload, .file label:active, .checkbox input:checked ~ span:before, .select select:active, .select-box .select-btn:active {
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.checkbox span:before {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1.7px -1.7px 0px rgba(0, 0, 0, 0.25);
}

.select select, .select-box .select-btn, .select-box .option-list {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
}

.label:focus-visible, .label span:focus-visible, .select-box .option-list li:focus-visible {
  outline: none;
}

.left-msg {
  padding: 0.8rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: 1.8;
  position: relative;
  z-index: 10;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.left-msg:before {
  display: block;
  position: absolute;
  content: "";
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  bottom: -10px;
  left: 30px;
}
.left-msg:after {
  display: block;
  position: absolute;
  content: "";
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  bottom: -8px;
  left: 31px;
}

.right-msg {
  padding: 0.8rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: 1.8;
  position: relative;
  z-index: 10;
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.4);
}
.right-msg:before {
  display: block;
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-top: 10px solid #000;
  bottom: -10px;
  right: 30px;
}
.right-msg:after {
  display: block;
  position: absolute;
  content: "";
  border-left: 8px solid transparent;
  border-top: 8px solid #fff;
  bottom: -8px;
  right: 31px;
}

progress {
  appearance: none;
}

.progress::-webkit-progress-bar {
  display: flex;
  align-items: center;
  width: 200px;
  height: 20px;
  padding: 0.1rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}
.progress::-webkit-progress-value {
  background-color: #6d57f1;
  border-radius: 10px 0 0 10px;
}

.badge {
  padding: 0.3rem 0.4rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 0.625rem;
}